<!--        https://github.com/tombatossals/angular-openlayers-directive-->
<div class="row">
    <!-- Opis -->
    <div class="col-md-4">
        <h2>{{selectedSzkola.tytul}}</h2>
        <p ng-bind-html="selectedSzkola.description"></p>
    </div>
    <div class="col-md-8" class="center-block">
        <!-- Mapa -->
        <openlayers ol-center="center" ol-defaults="defaults" ol-controls="controls" height="400" width="100%">
            <ol-marker ng-repeat="szkola in olSzkoly" 
                       lat="szkola.lat"
                       lon="szkola.lon"
                       show=false
                       message="{{szkola.tytul}}"
                       ></ol-marker>
            <!--        <ol-layer source-type="TileJSON" source-url="https://api.tiles.mapbox.com/v3/examples.map-i86nkdio.jsonp"></ol-layer>-->
            <ol-control name="{{ control.name}}" ng-repeat="control in controls|filter: {active: true}"></ol-control>
            <ol-layer name="{{ layer.name}}" ol-layer-properties="layer" ng-repeat="layer in layers|filter: { active: true}"></ol-layer>
        </openlayers>
        <label>Wybór warstwy: </label>
        <ul>
            <li style="display: inline" ng-repeat="layer in layers">
                <button ng-click="changeLayer(layer)" class="btn btn-default" ng-bind="layer.name"></button>
            </li>
        </ul>
    </div>
</div>

<div id="output"></div>
<div id="options">
    <h3>Wybierz narzędzie:</h3>
    <ul id="controlToggle">
        <li>
            <input type="radio" name="type" value="none" id="noneToggle"
                   onclick="toggleControl(this);" checked="checked" />
            <label for="noneToggle">Nawigacja</label>
        </li>
        <li>
            <input type="radio" name="type" value="line" id="lineToggle" onclick="toggleControl(this);" />
            <label for="lineToggle">Mierzenie odległości</label>
        </li>
    </ul>
</div>
<div id="tabelka" class="table-responsive">
    <table class="table table-hover" st-table="displayedSzkoly" st-safe-src="szkoly">
        <thead>
            <tr>
                <th st-sort="lon">lon</th>
                <th st-sort="lat">lat</th>
                <th st-sort="tytul">Tytuł</th>
                <th>Akcje</th>
            </tr>
            <tr>
                <th colspan="5"><input st-search="" class="form-control" placeholder="Wyszukaj..." type="text" /></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="szkola in displayedSzkoly" ng-click="selectSzkola(szkola)">
                <td>
                    <p>{{szkola.lon}}</p>
                </td>
                <td>
                    <p>{{szkola.lat}}</p>
                </td>
                <td>
                    <p>{{szkola.tytul}}</p>
                </td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="setCenter(szkola)"> 
                        <span class="glyphicon glyphicon-search"> </span> Pokaż na mapie
                    </button>
                </td>
            </tr>
        </tbody>   
    </table>
</div>